.scroll-Outer.gameDiv {
  height: 340px;
}

.scroll-Outer.showScrollBar {
  overflow-x: auto;
  height: 340px;
}
.scroll-Outer.showScrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scroll-Outer.showScrollBar::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scroll-Outer.showScrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #302352;
}
.gameItem {
  position: relative;
  width: 320px;
  height: 260px;
  font-size: 16px;
  background: -webkit-linear-gradient(#302352, #272934);
  margin: 0 20px 0 0;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  p.topTitle {
    padding: 15px 15px 0 15px;
    font-size: 16px;
  }
  p.location {
    padding: 0 15px;
    text-align: left;
    font-size: 14px;
    color: #9c9c9c;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .gameTeam {
    margin-bottom: 20px;
    p {
      margin: 10px 15px;
    }
  }
  .doFlex {
    display: flex;
    justify-content: space-between;
    span {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  button {
    border: none;
    width: 145px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
  }
  .info {
    background: #383c4e;
    margin-right: 10px;
  }
  .buy {
    background: #94253c;
  }

}
